.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .profile {
        flex-direction: column;
        max-height: 286px;
    }
}