.sign-form__entrance {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: right;
    color: white;

    margin-bottom: 46px;
    padding: 0;
}