.popup-infoTooltip__container {
    max-height: 330px;
    width: 430px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}