.sign-form__info {
    height: 27px;
    width: 358px;

    background-color: black;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;

    border-bottom: 2px solid #ccc;
    
    margin: 30px auto 0;
}