.sign-form__in {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF; 

    margin: 15px auto 0;
    padding: 0;
}