.header {
    display: flex;
    flex-direction: column;
    margin: 0 200px;
    border-bottom: 1px solid;
    border-color: rgba(84,84,84, 0.7);
}

@media screen and (max-width: 1100px) {
    .header {
        margin: 0 75px;
    }
}

@media screen and (max-width: 850px) {
    .header {
        margin: 0;
    }
}